:root {
    /* Main Color: Earthy Brown */
    --main-color: #8B5A2B; /* Rich brown color */

    /* Secondary Color: Tea Leaf Green */
    --secondary-color: #458847; /* Tea leaf green */

    /* Accent Color: Light Cream */
    --accent-color: #FAF3E0; /* Soft, light cream color */
}


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../assets/images/bp.png'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


#get-started-btn {
    background-color: transparent;
    color: white;
    border:  1px white solid;
    border-radius: 0.5rem;
    transition: 0.3s;
}
#get-started-btn:hover {
    background-color: white;
    color: var(--secondary-color);
}



.key-features {
    border-radius: 50%;
    background-color:#e8f4ea ; 
    height: 250px;
     width: 250px;
}



#diseases {
    display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/virus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  background-size: 8.75rem 8.75rem; 
  transition: transform 0.5s;
}

#ripeness {
    display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/green-tea.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  background-size: 8.75rem 8.75rem; 
  transition: transform 0.5s;
}

#quality {
    display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/quality.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  background-size: 8.75rem 8.75rem; 
  transition: transform 0.5s;
}



.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: "\201C";
	font-family: Arial,sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #1c47e3;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #1c47e3;    
	border: 5px double;    
}


.cta-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../assets/images/cta.png'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 40vh;
    display: flex;
    align-items: center;
  
}



@media (max-width: 768px) {
    .welcome-title {
        font-size: 2rem; 
    }

    .app-name {
        font-size: 3rem; 
    }

    .description {
        font-size: 1rem;
    }

    .hero {
        text-align: center; 
    }
}



